<ul id="gear-dropdown" class="gear-dropdown hidden">
	<li>
		<ul class="editions">
			<span class="dropdown-subtitle">Edition</span>
			<li class="dropdown-link">
				<a class="no-decoration" href="#">
					CSS
				</a>	
			</li>
			<li class="dropdown-link"><a class="no-decoration" href="#">HTML</a></li>
			<li class="dropdown-link"><a class="no-decoration" href="#">Javascript</a></li>
			<li class="dropdown-link"><a class="no-decoration" href="#">Ruby</a></li>
		</ul>
	</li>
	<hr>
	<li>
		<span class="dropdown-subtitle">Help</span>
		<ul class="help">
			<li class="dropdown-link"><a class="blue" href="#">FAQ</a></li>
			<li class="dropdown-link"><a class="blue" href="#">Contact Us</a></li>
		</ul>
	</li>
</ul>