<div class="section-nav">
    <ul>
        <li class="section-link">World</li>
        <li class="section-link">San Francisco
        <ul class="dropdown">
            <li>Students</li>
            <li>Teaching Assistants</li>
            <li>Instructors</li>
            <li>Career Advisors</li>
            <li>Cats</li>
        </ul></li>
        <li class="section-link">New York</li>
        <li class="section-link">Bootcamp Prep
        <ul class="dropdown">
                <li>Students</li>
                <li>Instructors</li>
                <li>Cats</li>       
        </ul></li>
        <li class="section-link">Jumpstart</li>
        <li class="section-link">Online
        <ul class="dropdown">
                <li>Immersive</li>
                <li>Bootcamp Prep</li>
                <li>Cats</li>
        </ul></li>
        <li class="section-link">Marketing</li>
        <li class="section-link">Sales</li>
        <li class="section-link">TalentMatch</li>
        <li class="section-link">Alumni</li>
        <li id="last"><a>All</a></li>
    </ul>
</div>
<hr>


            