<div class="section-nav">
    <ul>
        <li class="section-link">World</li>
        <li class="section-link">San Francisco</li>
        <li class="section-link">New York</li>
        <li class="section-link">Bootcamp Prep</li>
        <li class="section-link">Jumpstart</li>
        <li class="section-link">Online</li>
        <li class="section-link">Marketing</li>
        <li class="section-link">Sales</li>
        <li class="section-link">TalentMatch</li>
        <li class="section-link">Alumni</li>
        <li id="last"><a>All</a></li>
    </ul>
</div>
<hr>