.section-nav{
    display: flex;
    justify-content: center;
}

.section-nav ul{
    display: flex;
    justify-content: center;
    li{
        margin: 7px;
    }
}
.section-link{
    font-family: $sans-serif;
}
.section-link:hover{
    background: lightgray;
}
#last:hover{
    text-decoration: underline;
}